<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ChocolateRain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>80B607FA1CFBA2B60033A2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80B608101CFBA2B60033A2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>80B6081B1CFBA2B60033A2D5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
